.ant-layout-header {
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 4px #00000029 !important;
opacity: 1;
height: 70px;
padding: 12px 20px;
align-items: center;
justify-content: space-between;
}
.ant-layout {
  height: 100%;
}

.logo {
  margin: 16px 0;
  display: flex;
  align-items: center;
  img {
    height: 50px;
  }
  p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    margin-left: 8px;
  }
}
.sideLayout {
  .ant-layout-sider {
  background-image: url("../../assets/images/layout/datacenter_cover.png");
  background-size: cover;
  background-position: -55px;
  background-repeat: no-repeat;
}
 .ant-layout-sider-trigger {
   background: transparent;
 }
 .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
   background: transparent;
 }
 .ant-layout-sider-children {
   margin-top: 16px;
 }
 .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #ffffff51 0% 0% no-repeat padding-box;
 }
.ant-menu-item {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 16px;
  font-weight: normal;
 }
.ant-menu-title-content {
  margin-left: 20px;
 }
 .ant-menu.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 calc(50% - 23px / 2);
 }
 .ant-menu-inline-collapsed {
.ant-menu-title-content {
  display: none;
}
svg
{
  position: relative;
    top: 5px;
}
 }
 .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  h2 {
    text-align: left;
font-size: 18px;
letter-spacing: 0px;
color: #48465BB3;
font-weight: bold;
opacity: 1;
  }
.ant-breadcrumb {
  font-size: 14px;
letter-spacing: 0px;
color: #48465BB3;
margin: 0 !important;
opacity: 1;
}
 }
 .ant-layout-content {
  margin: 0 !important;
}

}
.sideMenu {
  .header-grp {
    display: inline-flex;
    align-items: center;
  .ant-dropdown-link {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  .ant-dropdown-link:hover {
    background: #33B0E033;
    border-radius: 50%;
  }

  }

}
.list_item {
  width: 100%;
  max-width: 380px;
  min-width: 380px;
  padding: 14px;
  border-radius: 4px;
}