$minWidth: 100%;
$font: "Poppins", sans-serif;
$fontSemiBold: "Poppins-Semibold";
$fontBold: "Poppins-Bold";
$linkColor: red;
$fontColor: #000000;

// $breakpoints: {
//     oneK: 1366px;
//     twoK: 1820px;
//     threeK: 2460px;
//     fourK: 3740px;
// };

// $breakpoints-height: {
//     oneK: 768px;
//     twoK: 880px;
//     threeK: 880px;
//     fourK: 1960px;
// };

$login-width: 1020px;
$login-height: 483px;
$login-background: #ffffff;
$login-boxshadow: 0 10px 50px 0 rgba(47, 4, 127, 0.48),
  0 2px 65px 0 rgba(255, 255, 255, 0.7);

$view-header-height: 100px;
$view-footer-height: 70px;
$grid-pagination-height: 40px;
