@import "./responsive-var.scss";

$menu-dark-bg: #332f49;
$layout-sider-background: #332f49;
// @menu-collapsed-width: 60px;
$menu-item-height: 54px;

$primary-color: #332f49;

$table-row-hover-bg: #fff !important;

$tooltip-bg: #000000;

$font-family: "Poppins", sans-serif;
