.profile {
  .list-header {
    padding: 30px 34px;
    background-image: url("../../assets/images/layout/List_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 24px;
    width: 100%;
    &__grp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .flex-grp {
        display: flex;
        align-items: center;
      }
      h1 {
        line-height: 120px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        text-align: center;
        background: #ffffffa3;
        margin-right: 20px;
        svg {
          height: 100px;
          width: 100px;
          position: relative;
          top: 10px;
        }
      }
      p {
        color: #fff;
        span {
          display: block;
          text-align: left;
          font: normal normal bold 24px/35px Roboto;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
        }
        label {
          text-align: left;
          font: normal normal normal 13px/20px Roboto;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
        }
      }
    }
  }
  .ant-card-head {
    border: none;
    min-height: auto;
    padding: 0;
    margin-bottom: 36px;
    .ant-card-head-title {
      padding: 0;
      text-align: left;
      font: normal normal normal 18px/27px Roboto;
      letter-spacing: 0px;
      color: #48465b;
      opacity: 1;
    }
  }
  .ant-card-body {
    padding: 0;
  }
  .field {
    .label {
      text-align: left;
      font: normal normal normal 13px/20px Roboto;
      letter-spacing: 0px;
      color: #48465b;
      opacity: 1;
    }
  }
  .btn-grp {
    text-align: Right;
  }
  .ant-card {
    padding: 20px 20px 30px;
    border-radius: 5px;
  }
  .ant-btn-primary {
    padding: 7px 34px;
  }
  .accout_grp {
    .no-margin {
      margin: 0 !important;
    }
    &--details {
      margin-bottom: 20px;
      label {
        text-align: left;
        font: normal normal normal 13px/20px;
        letter-spacing: 0px;
        color: #48465b;
      }
      span {
        text-align: left;
        font: normal normal normal 13px/20px;
        letter-spacing: 0px;
        color: #48465b;
      }
    }
  }
  .site-card-border-less-wrapper {
    margin-bottom: 100px;
  }
}
